.buildpath
.cache
.cache/
.classpath
.cproject
.docusaurus
.DS_Store
.dynamodb/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.externalToolBuilders/
.factorypath
.fusebox/
.gradle
.grunt
.history
.idea/
.loadpath
.lock-wscript
.metadata
.mtj.tmp/
.mvn/timing.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.pnpm-debug.log*
.project
.project
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.settings/
.stylelintcache
.target
.temp
.tern-port
.texlipse
.vlt
.vscode
.vscode-test
.vuepress/dist
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
*.bak
*.class
*.ear
*.iml
*.jar
*.launch
*.lcov
*.log
*.pid
*.pid.lock
*.pydevproject
*.seed
*.swp
*.tgz
*.tmp
*.tsbuildinfo
*.war
*~.nib
bin/
bower_components
build/Release
buildNumber.properties
buildNumber.properties
coverage
dependency-reduced-pom.xml
dependency-reduced-pom.xml
dist
hs_err_pid*
jspm_packages/
lerna-debug.log*
lib-cov
local.properties
logs
MANIFEST.MF
node_modules/
node/
npm-debug.log*
out
pids
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
target/
tmp/
web_modules/
yarn-debug.log*
yarn-error.log*